<html>

<head>
<title>Super Hero Team Builder</title>
</head>

<body>

<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
<p>Team Name: <input type='text' id="team_name" name="team[name]" /></p>
<p>Team Motto: <input type='text' id="team_motto" name="team[motto]" /></p>

<h2>Hero 1</h2>
<p>Hero Name: <input type='text' id="member1_name" name="team[heros][][name]" /></p>
<p>Hero Power: <input type='text' id="member1_power" name="team[heros][][power]" /></p>
<p>Hero Biography: <input type='text' id="member1_bio" name="team[heros][][bio]" /></p>

<h2>Hero 2</h2>
<p>Hero Name: <input type='text' id="member2_name" name="team[heros][][name]" /></p>
<p>Hero Power: <input type='text' id="member2_power" name="team[heros][][power]" /></p>
<p>Hero Biography: <input type='text' id="member2_bio" name="team[heros][][bio]" /></p>

<h2>Hero 3</h2>
<p>Hero Name: <input type='text' id="member3_name" name="team[heros][][name]" /></p>
<p>Hero Power: <input type='text' id="member3_power" name="team[heros][][power]" /></p>
<p>Hero Biography: <input type='text' id="member3_bio" name="team[heros][][bio]" /></p>




<button id="submit"type="submit" >Submit</button>
</form>